button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #F0F1F1;
    font-size: 15px;
    border-radius: 0.5em;
    background: linear-gradient(to left, #AD2D2C, #EDB300);
    padding: 0.5em 1.5em;
    line-height: 1.2;
    letter-spacing: 1px;

}
