.header-container {
  background: #222222;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-container-ul {
  display: flex;
  justify-content: space-evenly;
}


.icon{
  font-size: 40px;
  color: #CCCCCC;    
}
