/* .order-kitchen {
  /* display: flex;
  flex-wrap: wrap; */



/* .section-all-orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
} */

.all-orders {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  /* box-sizing: border-box; */

}

.li-all-orders {
  box-sizing: border-box;
  width: 350px;
  height: 150px;
  border-radius: 10px;
  overflow: auto;
}

