.menu-text {
  font-size: 1.5rem;
  line-height: 1.2;
}

.container-button{
  display: flex;
  justify-content: space-between;
  background: #222222;
}

.card-products {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  justify-content: center;
  justify-items: center;
  gap: 10px;
  padding: 2rem;
}


